extends ../layout
include mixin/sidebar
include mixin/modal
include mixin/app-sidebar

block content
    - var socket  = true;
    .chitchat-container.sidebar-toggle
        +sidebar
        block home
        +app-sidebar
        +modal
    include script
