script(src='/public/bower_components/jquery/dist/jquery.min.js')
script(src='/public/bower_components/owl.carousel/dist/owl.carousel.min.js')

script(src='/public/js/popper.min.js')
script(src='/public/js/tippy-bundle.iife.min.js')

script(src='/public/bower_components/bootstrap/dist/js/bootstrap.js')
script(src='/public/js/easytimer.min.js')

script(src='/public/js/counter.js')

script(src='/public/js/switchery.js')

if socket
    script(src="/public/bower_components/webrtc-adapter/release/adapter.js")
    script(src="/public/bower_components/kurento-utils/js/kurento-utils.js")
    script(src="/public/bower_components/socket.io-client/dist/socket.io.js")
    script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="")

    include oneSignal


if feathericon
    script(src='/public/js/feather-icon/feather.min.js')
    script(src='/public/js/feather-icon/feather-icon.js')

script(src='/public/js/jquery.magnific-popup.js')
script(src='/public/js/zoom-gallery.js')

//- Theme js
script(src='/public/js/script.js')
