script.
    var OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
        OneSignal.init({
            appId: "87997d16-ab3a-478f-ace8-a640af97cfc5", autoRegister: false,
            allowLocalhostAsSecureOrigin: true,
            safari_web_id:"web.onesignal.auto.14469d21-a548-446f-9323-a0e21fc",
            notifyButton: {
                enable: false,
            }
        });

        OneSignal.on('permissionPromptDisplay', function () {
            console.log("The prompt displayed");
        });


        var isPushSupported = OneSignal.isPushNotificationsSupported();
        if (isPushSupported) {
            // Push notifications are supported
            console.log('Push notifications are supported')
        } else {
            console.log('Push notifications are not supported')
            // Push notifications are not supported
        }

        OneSignal.isPushNotificationsEnabled(function (isEnabled) {
            if (isEnabled)
                console.log("Push notifications are enabled!");
            else
                console.log("Push notifications are not enabled yet.");
        });

        OneSignal.getUserId(function (userId) {
            const user = !{JSON.stringify(user)};
            $.ajax({
                url: "/users/onesignal",
                method: "POST",
                headers: {
                    'X-CSRF-Token': "!{csrfToken}",
                },
                data: {
                    id: user.id,
                    oneSignalId: userId
                },
                dataType: "json",
            });
        });

        OneSignal.on('notificationDisplay', function (event) {
            console.warn('OneSignal notification displayed:', event);
        });

    });

