mixin app-sidebar
    aside.app-sidebar.active
        .apps
            ul.apps-ul
                li#todo
                    .todo-main
                        .theme-title
                            .media
                                div
                                    h2 Tâche
                                    h4 a venire
                                .media-body.media-body.text-right
                                    a.icon-btn.btn-sm.btn-outline-light.close-apps(href='#')
                                        i(data-feather='x')

                li#notes
                    .notes-main
                        .theme-title
                            .media
                                div
                                    h2 Remarques
                                    h4 a venire
                                .media-body.media-body.text-right
                                    a.icon-btn.btn-sm.btn-outline-light.close-apps(href='#')
                                        i(data-feather='x')
                li#reminder
                    .reminder-main
                        .theme-title
                            .media
                                div
                                    h2 Rappels
                                    h4 a venire
                                .media-body.media-body.text-right
                                    a.icon-btn.btn-sm.btn-outline-light.close-apps(href='#')
                                        i(data-feather='x')
                        .reminder-content.tab-card
                            i.ti-alarm-clock
                            p N'oubliez jamais les tâches importantes.
                            a.setreminder.btn.btn-primary.button-effect.btn-sm() a venire
        .app-list
            ul.app-list-ul.custom-scroll
                li.title.apps-toggle
                    i(data-feather='grid')
                    h5 Outils
                li
                    a.icon-btn.btn-outline-primary.btn-sm.button-effect(href='notes')
                        i(data-feather='book')
                    h5 Remarques
                li
                    a.icon-btn.btn-outline-danger.btn-sm.button-effect(href='todo')
                        i(data-feather='list')
                    h5  Tâche
                li
                    a.icon-btn.btn-outline-warning.btn-sm.button-effect(href='reminder')
                        i(data-feather='clock')
                    h5 Rappels
                li.close-app
                    a.icon-btn.btn-danger(href='#' onclick='removedefault()')
                        i(data-feather='x')
                    h5 Fermez
