mixin modal
    #exampleModalCenter.modal.fade.add-popup.add-contact-modal(tabindex='-1' role='dialog' aria-hidden='true')
        form(method='POST' action='/users/invite').default-form
            .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                    .modal-header
                        h2.modal-title
                            | Inviter par Email
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .form-group
                            h5 Email
                            input#exampleInputEmail1.form-control(type='text', name="email" placeholder='email@test.fr' required autofocus)
                            input(type="hidden" name="_csrf" value=`${csrfToken}`)
                        .modal-footer
                            button.btn.btn-danger.button-effect.btn-sm(type='button' data-dismiss='modal') Annuler
                            button.btn.btn-primary.btn-sm(type='submit' value="Submit") Envoyer


    #audiocall.modal.fade(tabindex='-1' role='dialog'  aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-body
                .audiocall1.call-modal
                    img.bg-img(src='/public/images/avtar/big/audiocall.jpg' alt='Avatar')
                    .center-con.text-center
                        .title2 Josephin water
                        h6 log angelina california
                        ul
                            li
                                a.icon-btn.btn-success.button-effect.btn-xl.is-animating(id="audiorcvcall" data-toggle='modal',data-target='#audiorcvcall')
                                    i(data-feather='phone')
                            li
                                a.icon-btn.btn-danger.button-effect.btn-xl.is-animating.cancelcall(id="audiorcvcall-dismiss",data-dismiss="modal")
                                    i(data-feather='phone')

    //#audiorcvcall.modal.fade.audiorcvcall(tabindex='-1' role='dialog' aria-hidden='true')
    //    .modal-dialog.modal-dialog-centered(role='document')
    //        .modal-body
    //            .audiocall2.call-modal
    //                img.bg-img(src='/public/images/avtar/big/audiocall.jpg' alt='Avatar')
    //                .center-con.text-center
    //                    #basicUsage2 00:00:00
    //                    .title2 Josephin water
    //                    h6 log angelina california
    //                    ul
    //                        li
    //                            a.icon-btn.btn-light.button-effect.mute(href="#",data-tippy-content='Mute')
    //                                i.fa.fa-microphone
    //                        li
    //                            a.icon-btn.btn-light.button-effect.mute(href="#",data-tippy-content='Speaker')
    //                                i.fa.fa-volume-up
    //                        li
    //                            a.icon-btn.btn-danger.button-effect.btn-xl.is-animating(href='#',data-tippy-content='Hangup',data-dismiss='modal')
    //                                i(data-feather='phone')
    //                        li
    //                            a.icon-btn.btn-light.button-effect(href="#",data-tippy-content='Add Call')
    //                                i(data-feather='user-plus')
    //                        li
    //                            a.icon-btn.btn-light.button-effect(href="#",data-tippy-content='Pause')
    //                                i(data-feather='pause')

    #confercall.modal.fade(tabindex='-1' role='dialog'  aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-body
                .conferencecall.call-modal
                    img.bg-img(src='/public/images/avtar/big/audiocall.jpg' alt='Avatar')
                    .center-con.text-center
                        .usersprof
                            .profile
                                img.bg-img(src='/public/images/avtar/big/videocall_bg.jpg' alt='Avatar')
                        h3 Appel  video entrant
                        ul
                            li
                                a.icon-btn.btn-danger.button-effect.btn-xl.is-animating.cancelcall(id="reject-call", data-dismiss="modal")
                                    i(data-feather='phone')
                            li
                                a.icon-btn.btn-success.button-effect.btn-xl.is-animating(id="accept-call")
                                    i(data-feather='video')

    #videocall.viddiolog.modal.fade(tabindex='-1' role='dialog'  aria-hidden='true')
        .modal-dialog.modal-dialog-centered(role='document')
            .modal-body
                .videocall.call-modal
                    .bg-image
                        video(id="videoOutput" autoplay width="640px" height="480px"  poster="/public/images/webrtc.png")
                    .small-image
                        video(id="videoInput" autoplay  width="240px" height="180px" poster="/public/images/webrtc.png")
                    .media.videocall-details
                        .usersprof
                            img.bg-img(src='/public/images/avtar/3.jpg' alt='Avatar')
                        .media-body
                            h5= contact !== null ? `${contact.last_name.toString()}` : ""
                            h6 America ,California
                        #basicUsage 00:00:00
                        .zoomcontent
                            a.text-dark(href='#!' onclick='javascript:toggleFullScreen()',data-tippy-content='Zoom Screen')
                                img(src='/public/images/logo/maximize.svg' alt='zoom screen')
                    .center-con.text-center
                        ul
                            li
                                a.icon-btn.btn-light.button-effect.pause(data-tippy-content='Hold')
                                    i.ti-control-pause
                            li
                                a.icon-btn.btn-danger.button-effect.btn-xl.is-animating(id="stop",data-dismiss="modal",data-tippy-content='Hangup')
                                    i(data-feather='phone')
                            li
                                a.icon-btn.btn-light.button-effect.mic(href="#",data-tippy-content='Mute')
                                    i.fa.fa-microphone

    //#confvideocl.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    //    .modal-dialog.modal-dialog-centered(role='document')
    //        .modal-content
    //            .modal-body
    //                .row.confimg
    //                    .col-6
    //                        div.vclimg
    //                            img.bg-img(src='/public/images/avtar/big/videocall_bg.jpg' alt='Avatar')
    //                    .col-6
    //                        div.vclimg
    //                            img.bg-img(src='/public/images/avtar/5.jpg' alt='Avatar')
    //                    .col-6
    //                        div.vclimg
    //                            img.bg-img(src='/public/images/avtar/2.jpg' alt='Avatar')
    //                    .col-6
    //                        div.vclimg
    //                            img.bg-img(src='/public/images/avtar/3.jpg' alt='Avatar')
    //            .modal-footer.clfooter
    //                #basicUsage3 00:00:00
    //                ul
    //                    li
    //                        a.icon-btn.btn-light.button-effect(href="#",data-tippy-content='speaker')
    //                            i(data-feather='volume-2')
    //                    li
    //                        a.icon-btn.btn-light.button-effect(href="#",data-tippy-content='Camera')
    //                            i(data-feather='camera-off')
    //
    //                    li
    //                        a.icon-btn.btn-light.button-effect(href="#",data-tippy-content='Add Call')
    //                            i(data-feather='user-plus')
    //                    li
    //                        a.icon-btn.btn-danger.button-effect.btn-sm.is-animating(href='#',data-dismiss='modal',data-tippy-content='Hangup')
    //                            i(data-feather='phone')
    //                    li
    //                        a.icon-btn.btn-light.button-effect(href="#",data-tippy-content='Disable Video')
    //                            i(data-feather='video-off')
    //                    li
    //                        a.icon-btn.btn-light.button-effect.mic(href="#",data-tippy-content='Mute')
    //                            i(data-feather='mic-off')
    //                    li
    //                        a.icon-btn.btn-light.button-effect(href="#",data-tippy-content='Hold')
    //                            i(data-feather='pause')

