//- latest jquery
script(src='/public/js/jquery-3.3.1.min.js')

//- slick js
script(src='/public/js/owl.carousel.js')

//- popper js
script(src='/public/js/popper.min.js')
script(src='/public/js/tippy-bundle.iife.min.js')

//- Bootstrap js
script(src='/public/js/bootstrap.js')

//- Plugins JS start
script(src='/public/js/switchery.js')


if socket
    script(src="/public/js/webrtc-adapter/release/adapter.js")
    script(src="/public/js/kurento-utils/js/kurento-utils.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js")
    script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="")
    script(src='/public/js/socket.js')

//- Plugins JS start
if index
    script(src='/public/js/easytimer.min.js')
    script(src='/public/js/index.js')

if feathericon
    script(src='/public/js/feather-icon/feather.min.js')
    script(src='/public/js/feather-icon/feather-icon.js')

if ckeditor
    script(src='/public/js/ckeditor/ckeditor.js')
    script(src='/public/js/ckeditor/styles.js')
    script(src='/public/js/ckeditor/adapters/jquery.js')
    script(src='/public/js/ckeditor/ckeditor.custom.js')

if datepicker
    //-Datepicker js
    script(src='/public/js/date-picker/datepicker.js')
    script(src='/public/js/date-picker/datepicker.en.js')
    script(src='/public/js/date-picker/datepicker.custom.js')

if counter
    script(src='/public/js/counter.js')

//-tour js 
script(src='/public/js/tour/intro.js')
script(src='/public/js/tour/intro-init.js')

//- magnifypopup js //
script(src='/public/js/jquery.magnific-popup.js')

//- zoom gallary js //
script(src='/public/js/zoom-gallery.js')

//- Theme js
script(src='/public/js/script.js')
