//- latest jquery
script(src='js/jquery-3.3.1.min.js')

//- slick js
script(src='js/owl.carousel.js')

//- popper js
script(src='js/popper.min.js')
script(src='js/tippy-bundle.iife.min.js')

//- Bootstrap js
script(src='js/bootstrap.js')

//- Plugins JS start
script(src='js/switchery.js')


if socket
    script(src="js/webrtc-adapter/release/adapter.js")
    script(src="js/kurento-utils/js/kurento-utils.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js")
    script(src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async="")
    script(src='js/socket.js')

//- Plugins JS start
if index
    script(src='js/easytimer.min.js')
    script(src='js/index.js')

if feathericon
    script(src='js/feather-icon/feather.min.js')
    script(src='js/feather-icon/feather-icon.js')

if ckeditor
    script(src='js/ckeditor/ckeditor.js')
    script(src='js/ckeditor/styles.js')
    script(src='js/ckeditor/adapters/jquery.js')
    script(src='js/ckeditor/ckeditor.custom.js')

if datepicker
    //-Datepicker js
    script(src='js/date-picker/datepicker.js')
    script(src='js/date-picker/datepicker.en.js')
    script(src='js/date-picker/datepicker.custom.js')

if counter
    script(src='js/counter.js')

//-tour js 
script(src='js/tour/intro.js')
script(src='js/tour/intro-init.js')

//- magnifypopup js //
script(src='js/jquery.magnific-popup.js')

//- zoom gallary js //
script(src='js/zoom-gallery.js')

//- Theme js
script(src='js/script.js')
