extends ./layout.pug
include ./components/mixin-admin

block content
    - var socket                = true;
    .chitchat-container.sidebar-toggle
        +sidebar
        block home
        +right-sidebar
        +app-sidebar
        +modal
