extends ./layout.pug
block content
    .contact-details
        .row
            form.form-inline.search-form
                .form-group
                    input.form-control-plaintext(type='search', placeholder='Search..')
                    .icon-close.close-search
            .col-7
                .media.left
                    .media-left.mr-3
                        .profile.online.menu-trigger
                            img.bg-img(src='../assets/images/contact/2.jpg' alt='Avatar')
                    .media-body
                        h5 Josephin water
                        .badge.badge-success Active
                    .media-right
                        ul
                            li
                                a.icon-btn.btn-light.button-effect.mute(href="#")
                                    i.fa.fa-volume-up
                            li
                                a.icon-btn.btn-light.search-right(href='#')
                                    i(data-feather='search')

                            li
                                a.icon-btn.btn-light.button-effect.mobile-sidebar(href="#")
                                    i(data-feather='chevron-left')

            .col
                ul.calls.text-right
                    li
                        a.icon-btn.btn-light.button-effect(href="#", data-tippy-content='Quick Audio Call' data-toggle='modal' data-target='#audiocall')
                            i(data-feather='phone')
                    li
                        a.icon-btn.btn-light.button-effect(href="#", data-tippy-content='Quick Video Call' data-toggle='modal' data-target='#videocall')
                            i(data-feather='video')
                    li
                        a.icon-btn.btn-light.button-effect.apps-toggle(href="#", data-tippy-content='All Apps')
                            i.ti-layout-grid2
                    li.chat-friend-toggle
                        a.icon-btn.btn-light.bg-transparent.button-effect.outside(href="#", data-tippy-content='Quick action')
                            i(data-feather='more-vertical')

                        .chat-frind-content
                            ul
                                li
                                    a.icon-btn.btn-outline-primary.button-effect.btn-sm(href='#')
                                        i(data-feather='user')
                                    h5 Profile
                                li
                                    a.icon-btn.btn-outline-success.button-effect.btn-sm(href='#')
                                        i(data-feather='plus-circle')
                                    h5 Archive
                                li
                                    a.icon-btn.btn-outline-danger.button-effect.btn-sm(href='#')
                                        i(data-feather='trash-2')
                                    h5 Delete
                                li
                                    a.icon-btn.btn-outline-light.button-effect.btn-sm(href='#')
                                        i(data-feather='slash')
                                    h5 Block

