extends ./layout.pug

block content
    - var socket                = false;
    .theme-landing
        +header
    +teamwork
    +collaboration
    +secure-app
    +footer
    +taptop

    script(src='js/jquery.magnific-popup.js')
