extends ./layout.pug

include ./components/mixin-landing

block content
    - var socket                = false;
    .theme-landing
        +header
        +teamwork
        +collaboration
        +secure-app
        +footer
        +taptop

