- var feathericon             = true;
- var index                   = true;
- var datepicker              = true;
- var ckeditor                = false;

doctype html
html(lang='fr')
include header-files

body.sidebar-active
    block content

include footer-files



