mixin taptop
    .tap-top
        div
            i.fa.fa-angle-double-up


mixin header
    // header start //
    header#home
        .custom-container
            .row
                .col-12
                    .login-content-main
                        .login-content2
                            .theme-tab
                                ul#myTab.nav.nav-tabs(role='tablist')
                                    li.nav-item
                                        a#login-tab.nav-link.active(href='/login') login
                                    li.nav-item
                                        a#signup-tab.nav-link(href='/signup') Signup





mixin teamwork
    // team-work start //
    section.section-py-space.team-work-main#team
        .custom-container
            .row.team-block
                .col-md-6
                    .team-work-content
                        div
                            .ply-main
                                .ply-content
                                    .ply-sub-content
                                        i.fa.fa-play
                                h3  See Our
                                    span Team work
                            h1 Efficient teamwork for every enterprise
                            h4 Big companies save time with Slack by securely collaborating across teams, departments, offices and countries.
                            a.btn.pricing-btn(href="#")  Chitchat for enterprise
                .col-md-6
                    .team-work-content
                        img.img-fluid.team-main(src='images/landing/teamwork/5.png' alt='chit-chat')
        img.img-fluid.team1(src="images/landing/teamwork/1.png" alt="team-work")
        img.img-fluid.team2(src="images/landing/teamwork/2.png" alt="team-work")
        img.img-fluid.team3(src="images/landing/teamwork/3.png" alt="team-work")
        img.img-fluid.team4(src="images/landing/teamwork/4.png" alt="team-work")
        img.img-fluid.team5(src="images/landing/slider/6.png" alt="team-work")
    // team-work end //
mixin collaboration
    // collaboration start //
    section.collaboration-main
        .container-fluid
            .row
                .col-12
                    .landing-title
                        div
                            h1 finger tips
                        .sub-title
                            div
                                h4 Exclusive Features
                                h2 Put collaboration at your fingertips
        .custom-container
            .row
                .col-12
                    .collaboration-content
                        ul.collab-tab.nav.nav-pills
                            li.nav-item
                                a.nav-link.active(data-toggle='pill' href='#tab1')
                                    div.tab-main
                                        .tab-img
                                            i.ti-thought
                                        .tab-content
                                            h3 Organise
                                            p conversation
                            li.nav-item
                                a.nav-link(data-toggle='pill' href='#tab2')
                                    div.tab-main
                                        .tab-img
                                            i.ti-zip
                                        .tab-content
                                            h3 Shared
                                            p file and etc
                            li.nav-item
                                a.nav-link(data-toggle='pill' href='#tab3')
                                    div.tab-main
                                        .tab-img
                                            i.ti-search
                                        .tab-content
                                            h3 Search
                                            p everything
                            li.nav-item
                                a.nav-link(data-toggle='pill' href='#tab4')
                                    div.tab-main
                                        .tab-img
                                            i.ti-video-camera
                                        .tab-content
                                            h3 talk in
                                            p video call
                    .tab-detail
                        .tab-content
                            #tab1.tab-pane.container.active
                                img.img-fluid(src="images/landing/finger-tips/main.jpg" alt="tab-detail-img")
                            #tab2.tab-pane.container.fade
                                img.img-fluid(src="images/landing/finger-tips/main.jpg" alt="tab-detail-img")
                            #tab3.tab-pane.container.fade
                                img.img-fluid(src="images/landing/finger-tips/main.jpg" alt="tab-detail-img")
                            #tab4.tab-pane.container.fade
                                img.img-fluid(src="images/landing/finger-tips/main.jpg" alt="tab-detail-img")
    // collaboration end //

mixin secure-app
    // secure-app start //
    section.section-pb-space.secure-app-main
        .custom-container
            .row
                .col-lg-5.offset-lg-7.col-lg-5.offset-lg-2
                    .secure-app-content
                        div
                            .ply-main
                                .ply-content
                                    i.ti-shield
                                h3 Secure Your
                                    span Messages
                            h1 The world's top secure App
                            h4
                                span Desktop App
                                | – Easy to use our chat app, Attractive and clean design, with many Features :- Dark & light, Recent Chat And many more.......
                            a.btn.pricing-btn(href="#") learn more
        .secure-back-content
            img.img-fluid.secure-img1(src="images/landing/parallax/1.png" alt="parellex-img1")
            img.img-fluid.secure-img2(src="images/landing/parallax/1.png" alt="parellex-img1")
