#videoContainer {
    position: absolute;
    float: left;
}

#videoBig {
    width: 640px;
    height: 480px;
    top: 0;
    left: 0;
    z-index: 1;
}

div#videoSmall {
    width: 240px;
    height: 180px;
    padding: 0px;
    position: absolute;
    top: 15px;
    left: 400px;
    cursor: pointer;
    z-index: 10;
    padding: 0px;
}

